<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jhosely.hubermar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".informacionGeneralActivity"></activity>
        <activity android:name=".ParametrosActivity" />
        <activity android:name=".esradoTramiteActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Principal" />
        <activity
            android:name=".ConsultasActivity"
            android:label="@string/title_activity_consultas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Form1Activity" />
        <activity android:name=".Form2Activity" />
        <activity android:name=".Form3Activity" />
        <activity android:name=".Form4Activity" />
        <activity android:name=".Form5Activity" />
        <activity android:name=".TablaActivity" />
        <activity android:name=".Informe2Activity" />
    </application>

</manifest>